<div class="max-w-4xl mx-auto p-4 md:p-8">
    <div class="mb-6 border-b pb-2">
        <h3 class="text-2xl font-semibold text-[#1d1d1f] dark:text-[#f5f5f7]">
            {{ 'NOTES.TITLE_LIST' | translate }} ({{ notes().length }})
        </h3>
    </div>

    @if (isLoading()) {
        <div class="flex justify-center items-center h-24">
            <p-progressSpinner styleClass="w-3rem h-3rem"></p-progressSpinner>
            <p class="ml-4 text-[#6e6e73] dark:text-[#8e8e93]">{{ 'ACTIONS.PROCESS' | translate }}</p>
        </div>
    }

    @else if (notes().length === 0) {
        <div class="text-center p-6 text-gray-600 dark:text-gray-300">
            {{ 'MESSAGES.NOTES_EMPTY' | translate }}
        </div>
    }

    @else {
        <div class="space-y-4">
            @for (note of notes(); track note.id) {
            
            <p-card styleClass="p-4 rounded-xl shadow-md border border-gray-100 dark:border-[#3a3a3c] 
                                transition hover:shadow-lg hover:bg-[#fcfcfc] dark:hover:bg-[#202022]">
                
                <div class="flex justify-between items-start">
                    
                    <div class="w-full pr-4 cursor-pointer">
                        <h4 class="text-lg font-bold text-blue-600 dark:text-blue-400 mb-1">
                            {{ note.title }} 
                        </h4>

                        <p class="text-sm text-[#6e6e73] dark:text-[#8e8e93] line-clamp-2">
                            {{ note.content }}
                        </p>

                        <div class="flex items-center space-x-4 text-xs mt-3 pt-2 border-t border-gray-100 dark:border-gray-700">
                            
                            <span class="text-xs font-semibold px-2 py-0.5 rounded-full 
                                         bg-purple-100 text-purple-700 dark:bg-purple-900 dark:text-purple-300">
                                {{ 'ACTIONS.CATEGORY' | translate }}: {{ note.category }}
                            </span>

                            <span class="text-xs text-[#8e8e93] dark:text-[#a0a0a5]">
                                {{ 'ACTIONS.CREATED' | translate }}: 
                                {{ note.createdAt | date: 'medium':undefined: (translationService.activeLang() === 'id' ? 'id-ID' : 'en-US') }}
                            </span>
                        </div>
                    </div>
                    
                    <div class="flex items-center space-x-2" > 
                        <p-button 
                            (onClick)="editNote(note)" 
                            icon="pi pi-pencil"
                            severity="info"
                            [label]="'BUTTON.EDIT' | translate" 
                            styleClass="p-button-sm p-button-text">
                        </p-button>
                        <p-button 
                            (onClick)="confirmDelete(note)"
                            severity="danger"
                            [icon]="isLoading() ? 'pi pi-spin pi-spinner' : 'pi pi-trash'"
                            [disabled]="isLoading()"
                            [label]="'BUTTON.DELETE' | translate" 
                            styleClass="p-button-sm p-button-text ml-4"> 
                        </p-button>
                    </div>

                </div>
            </p-card>
            }
        </div>
    }
</div>